/* Base16 Atelier Seaside Dark - Theme */
/* by Bram de Haan (http://atelierbram.github.io/syntax-highlighting/atelier-schemes/seaside) */
/* Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16) */

/* Atelier-Seaside Comment */
.hljs-comment,
.hljs-quote {
  color: rgb(0,128,0);
}

/* Atelier-Seaside Red */
.hljs-variable,
.hljs-template-variable,
.hljs-attribute,
.hljs-tag,
.hljs-name,
.hljs-regexp,
.hljs-link,
.hljs-name,
.hljs-selector-id,
.hljs-selector-class {
  color: rgb(0,128,128);
}

/* Atelier-Seaside Orange */
.hljs-number,
.hljs-meta,
.hljs-built_in,
.hljs-builtin-name,
.hljs-literal,
.hljs-type,
.hljs-params {
  color: rgb(255,0,0);
}

/* Atelier-Seaside Green */
.hljs-string,
.hljs-symbol,
.hljs-bullet {
  color: rgb(255,0,255);
}

/* Atelier-Seaside Blue */
.hljs-title,
.hljs-section {
  color: rgb(128,0,0);
}

/* Atelier-Seaside Purple */
.hljs-keyword,
.hljs-selector-tag {
  color: rgb(26,26,166);
}

.hljs {
  display: block;
  overflow-x: auto;
  color: rgb(128,0,0);
  font-family: Cursive, Microsoft YaHei;
  line-height: 35px;
  font-size: 22px;
}

.hljs-emphasis {
  font-style: italic;
}

.hljs-strong {
  font-weight: bold;
}

pre {
  margin: 0;
  padding: 0;
}